@import "../../styles/variables.scss";

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.menu {
    height: 100%;
    background: $color-black;
    color: $color-white;
    padding: 24px;

    display: flex;
    flex-direction: column;
}

/* ---------- TOP ---------- */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 800;
}

.close {
    background: none;
    border: none;
    color: $color-white;
    cursor: pointer;
}

/* ---------- CENTER ---------- */
.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.homeButton {
    padding: 16px 40px;
    border-radius: 999px;
    border: 1px solid $color-white;
    color: $color-white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.08em;
}

.addLink {
    font-size: 14px;
    letter-spacing: 0.08em;
    color: $color-white;
    text-decoration: none;
}

/* ---------- BOTTOM ---------- */
.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.imageSmall {
    width: 120px;
    border-radius: 16px;
}

.imageLarge {
    width: 300px;
    border-radius: 24px;
}