@import "../../../styles/variables.scss";

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
  border-radius: 999px;
  border: 1px solid $color-gray;
  background-color: $color-white;
  padding: 0 44px 0 16px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &:focus-within {
    border-color: $color-black;
  }
}

.select {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: $color-black;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  option[disabled] {
    color: $color-gray;
  }
}

.placeholder {
  color: $color-gray !important;
}

.icon {
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  cursor: pointer;

  svg {
    cursor: pointer;
    width: 18px;
    height: 18px;
    stroke: currentColor;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
  }
}

.rotate svg {
  transform: rotate(180deg);
}

.error {
  .field {
    border-color: $color-error;
  }
}

.errorText {
  font-size: 12px;
  color: $color-error;
  padding-left: 16px;
}
