@import "../../../styles/variables";

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: $color-black;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 44px;
  }

  @media (min-width: 1440px) {
    font-size: 54px;
  }
}
