.categories {
  width: 100%;
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 60px 32px;
  }

  @media (min-width: 1440px) {
    padding: 80px 80px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    max-width: 704px;
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
