@import "../../../styles/variables";

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $color-dark;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1440px) {
    font-size: 18px;
    max-width: 50%;
  }
}
