@import "../../../styles/variables.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  margin-bottom: 4px;
}

.submitButton {
  margin-top: 24px;
}

.bottomText {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;

  span {
    font-weight: 600;
  }
}

.error {
  color: $color-error;
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}

.validationError {
  color: $color-error;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
