@import "../../../styles/variables";

.menuContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  border-bottom: 1px solid rgba($color-black, 0.2);
  margin-bottom: 32px;
}

.menuContainer::-webkit-scrollbar {
  display: none;
}

.menuItem {
  position: relative;
  padding: 0 0 14px 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  color: rgba($color-black, 0.6);
  white-space: nowrap;
  line-height: 1.33;
  letter-spacing: -0.36px;
  transition: color 0.1s;
}

.menuItem:not(:last-child) {
  margin-right: 30px;
}

.menuItem:hover {
  color: $color-black;
}

.active {
  color: $color-black;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: $color-black;
}

@media (min-width: 768px) {
  .menuItem {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .menuItem:not(:last-child) {
    margin-right: 40px;
  }
}
