@import "../../../styles/variables.scss";

.btn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  transition:
    background 0.2s ease,
    color 0.2s ease;

  &.expanded {
    width: 100%;
  }
}

// Size
.large {
  height: 56px;
  padding: 16px 40px;
  font-size: 16px;
}

.small {
  height: 46px;
  padding: 14px;
  font-size: 12px;
}

// Variant
.light {
  background: $color-white;
  color: $color-black;

  &:hover {
    background: $color-black;
    color: $color-white;
  }
}

.dark {
  background: $color-black;
  color: $color-white;
  border: 1px solid $color-black;

  &:hover {
    background: $color-white;
    color: $color-black;
  }
}

.outlined-light {
  background: $color-white;
  color: $color-black;
  border: 1px solid $color-black;

  &:hover {
    background: $color-black;
    color: $color-white;
  }
}

.outlined-dark {
  background: $color-black;
  color: $color-white;
  border: 1px solid $color-white;

  &:hover {
    background: $color-white;
    color: $color-black;
  }
}

.disabled {
  background: $color-gray;
  color: $color-white;
  border: none;
  cursor: not-allowed;

  &:hover {
    border: none;
    background: $color-gray;
    color: $color-white;
  }
}

// Icon
.btnIcon {
  width: 42px;
  height: 42px;
  padding: 0;

  &.light {
    border: 1px solid $color-border;

    &:hover {
      border-color: $color-black;
    }
  }

  &.dark {
    border: 1px solid $color-black;

    &:hover {
      border-color: $color-border;
    }
  }

  .icon {
    width: 16px;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
