.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 0;
  }
}

.item {
  list-style: none;
}

.empty {
  text-align: center;
  padding: 60px 20px;
  color: #8B8B8B;
  font-size: 18px;

  p {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .empty {
    padding: 80px 20px;
    font-size: 20px;
  }
}