@import "../../../styles/variables.scss";

.card {
  list-style: none;
  width: 100%;
  max-width: 343px;
  min-width: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    max-width: 290px;
  }
}

.image {
  margin: 0 0 16px;
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  display: block;
}

@media (min-width: 768px) {
  .image {
    height: 275px;
    border-radius: 30px;
  }
}

.title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: #3e4462;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;
  font-weight: 400;
  color: #23262a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.5;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
  min-width: 0;
  color: $color-dark;
  text-decoration: none;
}

.avatarContainer {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f0f0f0;
}

.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.24px;
  font-weight: 600;
  color: #3e4462;
  opacity: 0.6;
  overflow: hidden;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 4px;
  flex-shrink: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 1.5px solid #8baa36;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0;
  text-decoration: none;

  &:hover {
    background-color: #8baa36;

    .icon {
      stroke: white;
    }
  }

  &.btnFavoriteActive {
    background-color: #8baa36;

    .icon {
      fill: white;
      stroke: white;
    }
  }
}

.icon {
  height: 16px;
  width: 16px;
  stroke: #8baa36;
  fill: none;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px;
  }

  .avatarContainer {
    height: 34px;
    width: 34px;
  }

  .name {
    font-size: 14px;
    line-height: 18px;
  }

  .btn {
    height: 42px;
    width: 42px;
  }

  .icon {
    height: 18px;
    width: 18px;
  }
}

