@import "../../styles/_variables.scss";

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;

  font-family: "Mulish", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: $color-gray;

  &:hover {
    text-decoration: underline;
  }
}

.current {
  color: $color-black;
  font-weight: 700;
}

.sep {
  color: $color-gray;
  font-weight: 700;
}

@media (max-width: 1023px) {
  .list {
 padding-left: 15px;
}

}