.wrap {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  
}

.title {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 40px;
  
}

@media (max-width: 1023px) {
  .wrap {
  padding-left: 15px;
}

.title {
  padding-left: 15px;
}

.subtitle {
  padding-left: 15px;
}
}