.wrap {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 32px 16px;

  @media (min-width: 768px) {
    padding: 32px 32px;
  }

  @media (min-width: 1440px) {
    padding: 32px 80px;
  }
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 10px;
  font-family: Mulish;
  font-style: ExtraBold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -2%;
  text-transform: uppercase;


  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1440px) {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 32px;
  line-height: 1.5;
  color: #1a1a1a;

  @media (min-width: 768px) {
    font-size: 16px;
    max-width: 443px;
    margin-bottom: 40px;
  }

  @media (min-width: 1440px) {
    max-width: 500px;
  }
}
